html {
    margin: 0;
}

body {
    background-color: #222222;
    color: white;
}

button {
    background-color: #093145;
    color: white;
    border-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

button:hover {
    background-color: #3C6478;
    transition: all 0.4s ease 0s;
}

input {
    width: 400px;
}

#loginDiv {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -275px;
    width: 600px;
    height: 200px;
    align-content: center;
    text-align: center;
}

#createVMDiv {
    font-size: 30px;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    width: 900px;
    align-content: center;
    text-align: center;
}
